.Toolbar {
  min-height: 64px !important;
  color: #00d9f7 !important;
  background-color: rgba(0, 0, 0, 0.875) !important;
  opacity: .875 !important;

  a {
    text-decoration: none !important;
  }
}
