.Banner {
  min-height: 75vh;
  padding-top: 48px;
  background-attachment: fixed;
  min-width: 100%;

  .Block {
    background-color: rgba(0, 0, 0, 0.875) !important;
    opacity: .8 !important;
    padding: 30px;
    border-radius: 5px;
  }
}

#page-wrap {
  padding-top: 30px;
  background: url('home/milky_way.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  position: relative;
  margin: 0;

  .Grid {
    // margin-bottom: 30px;
    margin-top: 20px;
    min-height: -webkit-calc(100% - 140px);
    min-height:    -moz-calc(100% - 140px);
    min-height:         calc(100% - 140px);
    height: -webkit-calc(100% - 140px);
    height:    -moz-calc(100% - 140px);
    height:         calc(100% - 140px);
  }

  .Block {
    // background-color: rgba(0, 0, 0, 0.875) !important;
    // opacity: .8 !important;
    // padding: 30px;
    // border-radius: 5px;
    // display: flex;

    a img {
      display: block;
      margin: auto;
    }
  }
}

.menu-item {
  color: #bdc3c7;
  font-size:24px;
  padding:24px;

  &:hover {
    color: #9da6ac;
    text-decoration: none;
  }
}

.lola {
  color: #ce15ea !important;
  font-family: 'Audiowide', serif;
  font-weight: bold;
  font-size: 72px;
  left: 13px;
  margin: 0px;
  top: 5px;
  position: absolute;
}
