.speech-message {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.speech-icon {
  margin-top: 15px;
}
