.Card {
  max-width: 340px;
  margin: auto;
  background: $background;
  color: $text-color;
  text-align: center !important;

  .Heading {
  	font-size:18px !important;
  }

  .Text {
    font-size: 18px !important;
    text-align: center !important;
  }
}
