.Card {
  max-width: 200px;
  margin: auto;
  background: #373a47;
  color: #bdc3c7;
  text-align: center !important;

  .Text {
    font-size: 14px !important;
    text-align: center !important;
  }
}
