.Slider {
  margin: 0 auto;
  padding: 40px;
  width: 60%;
  height: 60%;
  color: rgb(53, 96, 183)

slick-prev {
  content: ">";
  color: red;
  font-size: 30px;
	}
slick-next {
  content: "<";
  color: red;
  font-size: 30px;
	}
}


