.Input {
    float: left;
    height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-color: white;
    background-color: black;

    label {
        display: none;
    }
}

.InlineForm {
    float: left;
}

.ButtonOutline {
  background-color: #337ab7 !important;
  color: white !important;
  box-shadow: none !important;
}
