@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

html, body {
  height: 100%;
}

body {
  font-family: 'Avenir Next', Helvetica, sans-serif;
  color: #eee;
  background-color: #111;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.0625);
  min-height: 100%;
  position: relative;
  margin: 0;
}

.container {
  width: 100%;
  text-align: center;
}

#react-root, #react-root > div, #outer-container {
  height: 100%;
  min-height: 100%;
}

.delete-btn {
  width: 24px;
  float: right;
}

.flat-icon-credit {
  display: none;
}
