.ql-toggle {
  height: 100%;

  .buttons{
    .Button {
      background-color: #6996AD !important;
    }
    .Button:disabled {
      background-color: #05B8CC !important;
    }
  }

  .toggle {
    height: 31.1vw;
    width: 31.1vw;
  }
}
