.ql-toggle {
  height: 100%;

  .buttons{

    .Button {
      background-color: #69a4aa !important;
      opacity: 0.5 !important;

    }

    .Button:disabled {
      background-color: #337ab7 !important;
      opacity: 1 !important;
    }
  }

  .toggle {
    height: 31.1vw;
    width: 31.1vw;
  }
}
